Python DataTypes
--------------------------------------

Reference Link: https://www.w3schools.com/python/python_datatypes.asp

Text type:                  str
Numeric Types:              int, float, complex
Sequence Types:             list, tuple, range
Mapping Type:               dict
Set Types:                  set, frozenset
Boolean Types:              bool
Binary Types:               bytes, bytearray, memoryview

In [4]:
# String Datatype
x = "Hi Everyone. Hope you are doing good"
type(x)

str

In [5]:
# Numeric type (int datatype)
x = 44
type(x)

int

In [6]:
#Numeric type (float datatype)
x = 44.56
type(x)

float

In [8]:
#Numeric type (complex datatype)
x = 1j
type(x)

complex

In [11]:
#Sequence Type (List datatype)
fruits = ["apple", "banana", "cherry"]
fruits
type(fruits)

list

In [12]:
#Sequence Type (Tuple datatype)
fruits = ("apple", "banana", "cherry")
fruits
type(fruits)

tuple

In [13]:
#Sequence Type (Range datatype)
x = range(6)
x

[0, 1, 2, 3, 4, 5]

In [15]:
#Mapping type (Dictionary)

x = {"name" : "John", "age" : 36}
x

{'age': 36, 'name': 'John'}

In [16]:
#Set Types
x = set(("apple", "banana", "cherry"))
x

{'apple', 'banana', 'cherry'}

In [17]:
#set Types
x = frozenset(("apple", "banana", "cherry"))
x

frozenset({'apple', 'banana', 'cherry'})

In [31]:
#Boolean Types
x = bool(1)
x

True

In [28]:
#byte type
x = bytes(5)
x

'5'

In [32]:
#byte array type
x = bytearray(5)
x

bytearray(b'\x00\x00\x00\x00\x00')

In [76]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [33]:
#Type Casting in Python
x = int(1)   
x

3

In [34]:
y = int(2.8) 
y

2

In [35]:
z = int("3") 
z

3

In [37]:
x = str("s1") 
x

's1'

In [38]:
z = str(3.0)  
z

'3.0'

In [36]:
y = str(2)    
y

'2'

Operations with Strings and Boolean Values in Python
---------------------------------

In [4]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [5]:
#introducing if-else statements

a = 9
b = 8

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [77]:
a = 4
b = 4
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a and b are equal

In [82]:
a = 3
b = 2
if a > b: print("a is greater than b")

a is greater than b

In [8]:
#introducing a function

def MaxMinCheck(a,b):
    print ("a =", a , "and b =", b)
    if b > a:
        print("b is greater than a")
    else:
        print("b is not greater than a")

In [7]:
MaxMinCheck(2,1)

('a =', 2, 'and b =', 1)
b is not greater than a

In [1]:
a = "Hello PGDM!"
print(a)
print (a[5])

Hello PGDM!

In [2]:
#introducing for loops using strings
for x in range(6):  
  print(x)

0
1
2
3
4
5

In [3]:
a
len(a)

11

In [4]:
# Various String Methods
# https://www.w3schools.com/python/python_strings_methods.asp
a

'Hello PGDM!'

In [5]:
a.islower()

False

In [6]:
x = a.lower()
print x
print x.islower()

hello pgdm!
True

In [7]:
x=a.split()
x

['Hello', 'PGDM!']

In [8]:
txt = "Corona#over#good#days#ahead"
x = txt.split("#")
x

['Corona', 'over', 'good', 'days', 'ahead']

In [9]:
#loops in Python
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [85]:
for x in range(5):
    print (x+1)

1
2
3
4
5

In [10]:
courses = ["MBC", "BDA", "IT&S"]
for x in courses:
  if x == "BDA":
    break
  print(x)

MBC

In [11]:
# working with Array
cars = ["Ford", "Volvo", "BMW"] 
cars[0]

'Ford'

In [12]:
x = len(cars)
x

3

In [13]:
for x in cars:
  print(x)

Ford
Volvo
BMW

In [14]:
cars.append("Honda")

In [15]:
cars

['Ford', 'Volvo', 'BMW', 'Honda']

In [19]:
cars.remove("Honda")

In [20]:
cars

['Ford', 'Volvo', 'BMW']

In [17]:
cars.reverse()

In [18]:
cars

['Ford', 'Volvo', 'BMW', 'Honda']

In [19]:
#Lambda function
x = lambda a : a + 10
print(x(3))

13

In [99]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [100]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33